apiVersion: batch/v1
kind: CronJob
metadata:
  name: mysql-backup
  namespace: app-stack
spec:
  # Run every 6 hours (00, 06, 12, 18)
  schedule: "0 */6 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: mysql-backup
            image: mysql:8.0
            env:
              - name: MYSQL_ROOT_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: app-stack-mysql-secret
                    key: MYSQL_ROOT_PASSWORD
            command:
              - /bin/sh
              - -c
              - >
                mysqldump -h app-stack-mysql -u root -p"$MYSQL_ROOT_PASSWORD"
                --all-databases >
                /backup/mysql-backup-$(date +\%F-\%H-%M).sql
            volumeMounts:
              - name: backup-storage
                mountPath: /backup
          restartPolicy: OnFailure
          volumes:
          - name: backup-storage
            persistentVolumeClaim:
              claimName: app-stack-mysql-backup-pvc
