apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "mysql.fullname" . }}-np
spec:
  podSelector:
    matchLabels:
      app: {{ include "mysql.name" . }}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: webserver
      ports:
        - protocol: TCP
          port: 3306
